{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.date|date:"DATE_FORMAT" }}</p>
    <p>{{ article.content }}</p>
{% endblock %}
