{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block content %}
    <h1>{% trans "News" %}</h1>
    {% for article in last_articles %}
        <h2><a href="{% url 'view_article' article.id %}"> {{ article.title }} </a></h2>
        <p>{{ article.date|date:"DATE_FORMAT" }}</p>
        <p>{{ article.content }}</p>
    {% empty %}
        <p>{% trans "No news" %}</p>
    {% endfor %}
    
    
    {% if is_paginated %}
        {% url 'all_articles' as all_articles_url %}
        {% bootstrap_pagination last_articles url=all_articles_url %}
    {% endif %}
    
    
{% endblock %}
