
/*
    default of html elems 
*/

hr {
    height: 12px; 
    border: 0; 
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 0em;
    margin-bottom: 0em;
}

body {
    background-color: GhostWhite;
}

h1 {
    color: DarkSlateBlue;
    text-decoration: underline;
}

a, a:hover, a:focus{
    color: DarkSlateBlue;
}

/* a with pagelink */
.page-link, a:hover, a:focus{
    color: black;
}

/*
 all the menu
*/

.menubar {
    background-color:DarkGray;
}

#menubarcase {
    color:black;
    font-weight: bold;
}

#menubarcase:hover, #menubarcase:focus, #menubarcase:active{
    background-color: Gainsboro;
}

/*
    for the weird case of clic and drop
*/
#menudropdown:hover, #menudropdown:focus{
    background-color: Gainsboro;
}
/*
special case when open
*/
.open > #menubarcase{
    background-color: Gainsboro;
}

/*
 table css
*/

.table{
    border-color: black;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #000000;
}

th{
    background-color: DarkGray;
}

.line-pair{
    background-color: GhostWhite;
}

.line-impair{
    background-color: Gainsboro;
}

/*
    pagination 
*/

.pagination > li > a{
    color: DarkSlateBlue;
    background-color: DarkGray;
    border-color: black;
}

.pagination > .active > a, .pagination > .active > a:hover, 
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > .active > a:focus
{
    color: DarkSlateBlue;
    background-color: Gainsboro;
    border-color: black;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{
    background-color: GhostWhite;
    color: DarkSlateBlue;
    border-color: black;
}

/*
    button
*/

.btn-primary, .btn-primary:focus, .btn-primary:active{
    background-color: DarkGray;
    border-color: black;
    color: DarkSlateBlue;
}

/*
 for the weird case of clic and drag
*/
.btn-primary:active:focus, .btn-primary:active:hover{
    background-color: Gainsboro;
    color: DarkSlateBlue;
}

.btn-primary:hover{
    background-color: Gainsboro;
    color: DarkSlateBlue;
}


/*
    glyphicon for the order
 */
.glyphicon {
    font-size: 10px;
}
