{% extends "analysis_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load set_var %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1> {{ name }}</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="col-md-12">
            <table class="table table-bordered table-dark">
                <tbody>
<!--
                    why the color doesnt alternate ?
-->
                    {% set linecolor = "line-pair" %}
                    {% for key, value in object.items %}
                        {% if linecolor == "line-pair" %}
                            {% set linecolor = "line-impair" %}
                        {% else %}
                            {% set linecolor = "line-pair" %}
                        {% endif %}
                        <tr class="{{ linecolor }}"> 
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% empty %}
                        <p> {% trans "Empty" %}</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="col-md-2">
            <a class="btn btn-primary" type="button" href="{% url modify pk %}">{% trans "Modify" %}</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" type="button" href="{% url delete pk %}">{% trans "Delete" %}</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" type="button" href="{% url msms pk %}">{% trans "View MSMS" %}</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" type="button" href="{% url parameter paramid %}">{% trans "View Parameters" %}</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" type="button" href="{% url download pk %}" download>{% trans "Download MGF" %}</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" type="button" href="{% url blast pk %}">{% trans "Blast" %}</a>
        </div>
    </div>

{% endblock %}
