{% extends "analysis_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1> {{ name }} </h1>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input class="btn btn-primary" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
{% endblock %}
