{% extends "analysis_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block content %}
<div class="section">
    <div class="container">
        <div class="col-md-12">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    <p>{{ field.label_tag }} </p>
                    <p>{{ field }}</p>
                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
        </div>
    </div>
</div>
{% endblock content %}
    
