{% load i18n %}


{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>{% block title %}User test{% endblock %}</title>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="header">
        <div class="section menubar">
            <div class="container">
                <div class="col-md-12">
                    {% block header %}

                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a id="menubarcase" href="{% url 'index' %}">{% trans "Home" %}</a>
                        </li>
                        <li>
                            <a id="menubarcase" href="{% url 'all_articles' %}">{% trans "News" %}</a>
                        </li>
                        <li>
                            <a id="menubarcase" href="{% url 'questions' %}">{% trans "FAQ" %}</a>
                        </li>
                        <li>
                            <a id="menubarcase" href="{% url 'chimicals_index' %}">{% trans "Chimicals" %}</a>
                        </li>
                        <li>
                            <a id="menubarcase" href="{% url 'analysis_index' %}">{% trans "Analysis" %}</a>
                        </li>
                        <li>
                            <a id="menubarcase" href="{% url 'new_learning' %}">{% trans "Learning" %}</a>
                        </li>
                        
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a id="menubarcase" href="{% url 'auth_logout' %}">{% trans "Log out" %}</a>
                            </li>
                            <li>
                                <a id="menubarcase" href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>
                            </li>
                        {% else %}
                            <li>
                                <a id="menubarcase" href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
        <hr>
    </div>
    
    <div id="content">
        {% block precontent %}
            <div class="section">
                <div class="container">
                    <div class="col-md-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock precontent %}
    </div>
    
    <div id="footer">
    {% block footer %}
    {% endblock %}
    </div>
</body>

</html>
