{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block precontent %}
    <div class="section menubar">
        <div class="container">
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="{% url 'atom_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Atoms" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'atom_list' %}"> {% trans "View Atoms" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_atom_add' %}"> {% trans "Add Atom" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'isoatom_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Isotopes" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'isoatom_list' %}"> {% trans "View Isotopes" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_isoatom_add' %}"> {% trans "Add Isotope" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'aminoacid_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Amino Acid" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'aminoacid_list' %}"> {% trans "View Amino Acids" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_aminoacid_add' %}"> {% trans "Add Amino Acid" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'ptm_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "PTM" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'ptm_list' %}"> {% trans "View PTMs" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_ptm_add' %}"> {% trans "Add PTM" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'protease_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Protease" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'protease_list' %}"> {% trans "View Proteases" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_protease_add' %}"> {% trans "Add Protease" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'link_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Link" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'link_list' %}"> {% trans "View Links" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_link_add' %}"> {% trans "Add Link" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'residue_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Small Residue" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'residue_list' %}"> {% trans "View Small Residues" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'admin:chimicals_smallresidue_add' %}"> {% trans "Add Residue" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'import_chimicals' %}" id="menubarcase" role="button" aria-expanded="false">{% trans "Import" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <hr>
            {% block content %}
            <div class="section">
                <div class="container">
                    <div class="col-md-12">
                    <p>Welcome</p>
                    </div>
                </div>
            </div>
            {% endblock content %}
    
{% endblock precontent %}
