{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block precontent %}
    {% if user.is_authenticated %}
    <div class="section menubar">
        <div class="container">
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="{% url 'analysis_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Analysis" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'analysis_list' %}"> {% trans "View Analysis" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'new_analysis' %}"> {% trans "Add Analysis" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'analysis_params_list' %}" class="dropdown-toggle" id="menubarcase" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Analysis Params" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu menubar" role="menu">
                            <li>
                                <a id="menudropdown" href="{% url 'analysis_params_list' %}"> {% trans "View Analysis Params" %}</a>
                            </li>
                            <li>
                                <a id="menudropdown" href="{% url 'new_analysis_params' %}"> {% trans "Add Analysis Params" %} </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <hr>
            {% block content %}
            <div class="section">
                <div class="container">
                    <div class="col-md-12">
                    <p>Welcome</p>
                    </div>
                </div>
            </div>
            {% endblock content %}
    {% else %}
        <div class="section">
            <div class="container">
                <div class="col-md-12">
                    {% trans "You need to be log in to access to this page" %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock precontent %}

