{% extends "chimicals_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load set_var %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1> {{ name }} </h1>
        </div>
    </div>
    
    <div class="container">
        <div class="col-md-12">
            <table class="table table-bordered table-dark">
                <tbody>
<!--
                    why the color doesnt alternate ?
-->
                    {% set linecolor = "line-pair" %}
                    {% for key, value in object.items %}
                        {% if linecolor == "line-pair" %}
                            {% set linecolor = "line-impair" %}
                        {% else %}
                            {% set linecolor = "line-pair" %}
                        {% endif %}
                        <tr class="{{ linecolor }}"> 
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% empty %}
                        <p> {% trans "Empty" %}</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% if user.is_superuser %}
        <div class="container">
            <div class="col-md-2">
                <a class="btn btn-primary" type="button" href="{% url change pk %}">{% trans "Modify" %}</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary" type="button" href="{% url delete pk %}">{% trans "Delete" %}</a>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="col-md-2">
                <a class="btn btn-primary disabled" type="button" href="{% url change pk %}">{% trans "Modify" %}</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary disabled" type="button" href="{% url delete pk %}">{% trans "Delete" %}</a>
            </div>
            <div class="col-md-8">
                <p> {% trans "You need to be a superuser to do modification on the chimicals" %}</p>
            </div>
        </div>
    {% endif %}

    
{% endblock %}
