{% extends "chimicals_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load set_var %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h1> {% trans name %} </h1>
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        {% for reverse, key, name in printedparams %}
                            {% if key in sorting %}
                                {% if reverse %}
                                    <th><a class="page-link" href="?page={{page}}&order_by={{key}}&reverse={{reverse}}" >{{ name }} </a><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></th>
                                {% else %}
                                    <th><a class="page-link" href="?page={{page}}&order_by={{key}}&reverse={{reverse}}" >{{ name }} </a><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></th>
                                {% endif %}
                            {% else %}
                                <th>{{ name }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set linecolor = "line-pair" %}
                    {% for object in object_list %}
                        {% if linecolor == "line-pair" %}
                            {% set linecolor = "line-impair" %}
                        {% else %}
                            {% set linecolor = "line-pair" %}
                        {% endif %}
                        <tr class="{{ linecolor }}"> 
                            {% for k, v in object.fields.items %}
                                {% for key in params %}
                                    {% if key == k %}
                                        <td><a href="{% url detailurl object.pk %}"> {{ v }} </a></td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <p> {% trans "Empty" %}</p>
                    {% endfor %}
                </tbody>
            </table>
        
        {% if is_paginated %}
            {% url pageurl as page_url %}
            {% bootstrap_pagination page_obj url=page_url extra=extraurl %} 
        {% endif %}
            
        </div>
    </div>
    
{% endblock %}
