{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    <h1>{% trans "FAQ" %}</h1>
    {% for question in questions %}
        <p><a href="{% url 'answer' question.id %}">{{ question.question }}</a></p>
    {% empty %}
        <p>{% trans "Empty FAQ" %}</p>
    {% endfor %}

{% endblock %}
