{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block content %}
    <h1>{% trans "FAQ Answer" %}</h1>
    <h2>{{ answer.question }}</h2>
    <p>{{ answer.answer }}</p>
{% endblock %}
